Repository Galaxypedia-Wiki/Galaxypedia, changes with the labels that .github/labeler.yml gives for each.
All labels: site:shortcodes, site:partials, site:archetypes, site:styling, site:platform, site:tooling

Make the galaxypedia festive
  assets/js/snowstorm-min.js
  content/_index.md
  content/christmas.png
  layouts/partials/site/head.html
Labels: site:partials, site:platform

Formatting
  content/_index.md
  layouts/partials/site/head.html
Labels: site:partials, site:platform

Ignore the assets/js folder for now
  .prettierignore
Labels: site:tooling

fix taxonomy pages not showing the search bar properly
  layouts/_default/taxonomy.html
Labels: site:platform

use ` - ` instead of `:`
  layouts/_default/taxonomy.html
Labels: site:platform

formatting fixes and edits
  content/wiki/Community/Clans/.SU.md
  content/wiki/Community/Clans/Blood Ravens.md
  content/wiki/Community/Clans/Blue Torpedo Cult.md
  content/wiki/Community/Clans/Vanguard Coalition.md
Labels: none

Revert "Make the galaxypedia festive (#76)"
  .prettierignore
  assets/js/snowstorm-min.js
  content/_index.md
  content/christmas.png
  layouts/partials/site/head.html
Labels: site:partials, site:platform, site:tooling

Update content/wiki/Community/Clans/Blood Ravens.md
  content/wiki/Community/Clans/Blood Ravens.md
Labels: none

[ImgBot] Optimize images
  content/wiki/Ships/Admin/Crab Hours/ship-icon.jpg
  content/wiki/Ships/Admin/Prototype X-4/ship-side.jpg
  content/wiki/Ships/Admin/Prototype X-4/ship-top.jpg
  content/wiki/Ships/Admin/War Studio/ship-front.jpg
  content/wiki/Ships/Admin/War Studio/ship-side.jpg
  content/wiki/Ships/Battleships/Apotheosis/ship-interior.jpg
  content/wiki/Ships/Dreadnoughts/Retro Prototype X-2/ship-bottom.jpg
  content/wiki/Ships/Dreadnoughts/Retro Prototype X-2/ship-interior-alt.jpg
  content/wiki/Ships/Dreadnoughts/Retro Prototype X-2/ship-interior.jpg
  content/wiki/Ships/Dreadnoughts/Retro Prototype X-2/ship-side.jpg
  content/wiki/Ships/Dreadnoughts/Retro Prototype X-2/ship-top.jpg
  content/wiki/Ships/Freighters/Argonaut/ship-interior.jpg
  content/wiki/Ships/Mining/Maple Orca/ship-interior-left.jpg
  content/wiki/Ships/Mining/Maple Orca/ship-interior-right.jpg
  content/wiki/Ships/Mining/Maple Orca/ship-interiorleft.jpg
  content/wiki/Ships/Mining/Maple Orca/ship-interiorright.jpg
  content/wiki/Ships/Mining/Maple Orca/ship-pilotseat.jpg
  content/wiki/Ships/Mining/Orca/ship-trails.jpg
  content/wiki/Ships/Mining/Patriotic Rorqual/ship-interior.jpg
  content/wiki/Ships/Mining/Santa's Workshop/ship-interior.jpg
  content/wiki/Ships/Mining/Tango/ship-interior.jpg
  content/wiki/Ships/Super-Capitals/Eradicator/ship-icon.jpg
  content/wiki/Ships/Super-Capitals/Eradicator/ship-recolored.jpg
  static/favicon.svg
Labels: site:platform

Update index.md
  content/wiki/Incidents/The Galaxy Civil War II/index.md
Labels: none

disambig template
  content/wiki/Misc/Disambiguations/U.N.E/index.md
  content/wiki/Ships/Mining/Galaxy (ship)/index.md
  content/wiki/Ships/Mining/Galaxy (ship)/ship-back.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-bottom.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-front.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-icon.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-interior.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-left.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-top.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-trails.webp
  content/wiki/Ships/Mining/Galaxy (ship)/ship-warp.webp
  content/wiki/Uncategorized/Galaxy/index.md
  content/wiki/Uncategorized/Pumpkin/index.md
  content/wiki/Uncategorized/Weekly Dealer/index.md
  layouts/shortcodes/notices/disambiguation.html
Labels: site:shortcodes

switch to devcontainers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  package.json
Labels: site:tooling

delete nix flake
  .envrc
  flake.lock
  flake.nix
Labels: site:tooling

delete npm lockfile
  package-lock.json
Labels: none

fix codefactor warnings
  .devcontainer/Dockerfile
Labels: none

use the pnpm version pinned in package.json in workflows
  .github/workflows/build.yml
  .github/workflows/pull-request.yml
Labels: site:tooling

add docker extension
  .devcontainer/devcontainer.json
Labels: none

remove useless image from the dockerfile
  .devcontainer/Dockerfile
Labels: none

use zsh by default (in vscode)
  .devcontainer/devcontainer.json
Labels: none

Upgrade packages
  package.json
  pnpm-lock.yaml
Labels: site:tooling

FUCK PRETTIER
  package.json
  pnpm-lock.yaml
Labels: site:tooling

someone save me
  pnpm-lock.yaml
Labels: none

fix
  .prettierignore
  SECURITY.md
Labels: site:tooling

add back avg. spinal dps and turret dps to the infobox
  layouts/shortcodes/shipInfobox.html
Labels: site:shortcodes

add back avg. spinal dps and turret dps to the infobox (#106)
  layouts/shortcodes/shipInfobox.html
Labels: site:shortcodes

fixed table on mining turets page
  content/wiki/Weapons/Turrets/index.md
Labels: none

add restart to docker compose
  elasticsearch/docker-compose.yaml
Labels: none

Add docker configuration
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
Labels: site:tooling

fix warehouse page table
  content/wiki/Misc/Mechanics/Warehouse/index.md
Labels: none

april fools
  assets/css/styles.css
Labels: site:styling

Revert "april fools"
  assets/css/styles.css
Labels: site:styling

Update README.md
  README.md
Labels: none

.github/labeler.yml:

# Read https://github.com/marketplace/actions/labeler before modifying this file
site:content:
  - changed-files:
      - all-globs-to-any-file: ["content/**", "!content/_index.md"]

site:shortcodes:
  - changed-files:
      - any-glob-to-any-file: "layouts/shortcodes/**"

site:partials:
  - changed-files:
      - any-glob-to-any-file: "layouts/partials/**"
#site:taxonomies: - needs us to do taxonomies first so we know how layouts look

site:archetypes:
  - changed-files:
      - any-glob-to-any-file: "archetypes/**"

site:styling:
  - changed-files:
      - any-glob-to-any-file: ["assets/css/**", "tailwind.config.js"]

site:platform:
  - changed-files:
      - any-glob-to-any-file:
          [
            "content/_index.md",
            "layouts/*",
            "layouts/_default/**",
            "static/**",
            "hugo.yaml",
          ]

site:tooling:
  - changed-files:
      - any-glob-to-any-file:
          [
            ".github/**",
            ".vscode/**",
            ".envrc",
            "flake.nix",
            ".prettierrc",
            ".prettierignore",
            ".markdownlint.json",
            "linkinator.config.json",
            "package.json",
          ]
