Repository Galaxypedia-Wiki/Galaxypedia, pull requests merged in 2025-03, with the labels that each got.

#98 Upgrade packages
  .prettierignore
  SECURITY.md
  package.json
  pnpm-lock.yaml
Labels: site:tooling, size/S

#99 Overhaul searching
  .gitignore
  .prettierignore
  assets/js/search.js
  elasticsearch/.env.example
  elasticsearch/README.md
  elasticsearch/docker-compose.yaml
  elasticsearch/index.mjs
  hugo.yaml
  layouts/_default/single.html
  layouts/_default/taxonomy.html
  layouts/index.html
  layouts/partials/site/head.html
  layouts/partials/site/search.html
  package.json
  pnpm-lock.yaml
Labels: site:platform, site:partials, site:tooling, size/XL

#106 Add average turret/spinal dps back to the infobox
  layouts/shortcodes/shipInfobox.html
Labels: site:shortcodes, size/XS

#112 Fix the table on the warehouse page
  content/wiki/Misc/Mechanics/Warehouse/index.md
Labels: site:content, size/M
